﻿@using PreemptConfiguration.Models;
@model Device
@{
    string ischecked = Model.FixGPS == true ? "checked" : "";
    var device_name = String.IsNullOrWhiteSpace(Model.DeviceName) ? "Device(Rule)" : Model.DeviceName + "(Rule " + Model.ActiveRuleID + ")";
}
@Html.HiddenFor(x => x.ActiveDeviceID)
@Html.HiddenFor(x => x.ActiveRuleID)

<div class="container-fluid  text-center" style="width:100% !important">
    <strong><span id="device_name">@device_name</span></strong>
</div>
<form class="form-inline">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="chk_fix_gps" value="@Model.FixGPS" @ischecked>
        <label class="form-check-label" for="chk_fix_gps">Fix GPS</label>
        <image name="lockButton" id="btnlockIconButton" data-status='1' src="~/Content/icons/lock.png" style="height:24px;width:24px;">
        <div class="form-group">
            <label for="latitude" class="col-form-label-sm">Latitude</label>
            <code id="latitude">@Model.Latitude</code>
        </div>
        <div class="form-group">
            <label for="longitude" class="col-form-label-sm">Longitude</label>
            <code id="longitude">@Model.Longitude</code>
        </div>
        <div class="form-group">
            <label for="fix_latitude" class="col-form-label-sm">Fix Latitude</label>
            <input type="text" class="form-control-sm" id="fix_latitude" data-default="90000001" value="90000001">
        </div>
        <div class="form-group">
            <label for="fix_longitude" class="col-form-label-sm">Fix Longitude</label>
            <input type="text" class="form-control-sm" id="fix_longitude" data-default="180000001" value="180000001">
        </div>
    </div>
    
    <div class="form-group">
        <label for="edit_mode">Edit Mode</label>
        <input type="text" class="form-control-sm" id="edit_mode" data-default="Central" value="Central" disabled>
    </div>
    <div class="form-group">
        <label for="city_code">City Mode</label>
        <input type="text" class="form-control-sm" id="city_code" value="@Model.CityCode">
    </div>
    <div class="form-group">
        <label for="min_speed">Min Speed</label>
        <input type="text" class="form-control-sm" id="min_speed" disabled value="@Model.MinSpeed">
    </div>
    <div class="form-group">
        <label for="min_speed_duration">Min Speed Duration</label>
        <input type="text" class="form-control-sm" id="min_speed_duration" disabled value="@Model.MinSpeedDur">
    </div>
    <input type="button" class="btn btn-primary btn-xs" value="Refresh Device" id="btn-refresh_device" />
</form>