﻿@using PreemptConfiguration.Common;
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp-b32ZTBbxVZS9cEyLUkCZj7aKBxQhrs&libraries=geometry,places&v=weekly&j=@DateTime.Now.Ticks" defer></script>
<script src="~/Scripts/GoogleMapPolygon.js?v=@DateTime.Now.Ticks"></script>
@{ 
    GoogleObject RoleObject = (GoogleObject)Session["GOOGLE_MAP_OBJECT"];
}

<div id="GoogleMap_Div" style="width:100%; height:400px;">

</div>

<script>
    $('document').ready(function () {
        debugger
        localStorage.clear();
        var Json_RoleObject = '@Html.Raw(Json.Encode(RoleObject))';
        localStorage.setItem('RoleObject', Json_RoleObject);
        console.log("local storage");
        for (var i = 0; i < localStorage.length; i++) {
            console.log(localStorage.key(i) + "=[" + localStorage.getItem(localStorage.key(i)) + "]");
        }
        initMap();
    });
</script>