﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Preempt Configuration</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified JavaScript -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/DataPlan-style.css?j=@DateTime.Now.Ticks" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <style type="text/css">
        .btm_vrsn {
            color: #fff;
            float: right;
            font-size: 10px;
            margin-top: 3px;
            width: 45%;
        }

        .navigation {
            width: 99% !important;
        }

        /*.btnn {
            background-color: #27aae1;
            font-size: 15px;
            margin-top: 3px;
            width: 45%;
        }*/

        #top_space_fix {
            padding-left: 40px;
            padding-right: 40px;
            margin: auto;
            padding-top: 30px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }

        .content_structer {
            background-color: #FFF;
            font-size: 14px;
            line-height: 18px;
            color: #58595b;
            margin-left: 0% !important;
            padding-right: 1%;
            width: 99% !important;
        }

        /*#footer {
            width: 96% !important;
            position: fixed;
            height: 50px;
            bottom: 0px;
            margin-bottom: 0px;
        }*/

        /*@@media (min-width: 1025px) and (max-width: 1650px) {

            .maxheight {
                height: 660px;
            }
        }

        @@media (min-width: 1650px) and (max-width: 2000px) {

            .maxheight {
                height: 840px;
            }
        }*/
    </style>
</head>
<body>
    <div id="top_space_fix">
        @Html.Hidden("hdnIPAddress")
        <div class="navigation">
            <div id="logo" onclick="location.href='/'">
                <img src="~/Content/images/glance.png" width="196" height="122" border="0" alt="Glance" />
            </div>
            <div class="top_curv">
                <div id="powered">
                    <span style="text-shadow: 1px 1px 0px rgb(255, 255, 255); color: rgb(122, 123, 125); font-weight: 600; font-family: helvetica;">powered by Applied Information</span>
                </div>
                @{ if (Session["UserName"] != null)
                    {
                        <div class="userDetails">
                            Welcome :- @Session["UserName"]
                        </div>
                        <div class="clear-float">
                        </div>
                    }
                }
            </div>
            <div class="headmenus clearfix">
                @if (Session["UserId"] != null)
            {
                    <div class="headmenutxt">
                        <span class="toggle-menu">Menus <i class="fa fa-bars"></i></span>
                        <div id="nav-list" class="maintexts pull-right">
                            <ul>
                                <li id="listLogOff">
                                    @Html.ActionLink("Home", "index", "Home")
                                </li>
                                <li>|</li>
                                <li id="listLogOff">
                                    @Html.ActionLink("Log-Off", "Logout", "Home")
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="content_structer maxheight" style="min-height: 484px;">
            @RenderBody()
        </div>
        <div id="footer">
            <div class="ftr_ltcrv">
                <div class="ftr_rtcrv">
                    <div class="topline">
                    </div>
                    <span class="logo_ftr"></span>
                    <span class="btm_vrsn">(v1.3.3)</span>
                    <span class="cpr">©@DateTime.Now.Year, Applied Information, Inc.</span>
                </div>
            </div>
            <div class="clear-float">
            </div>
        </div>
    </div>

   
</body>
</html>