﻿<nav class="navbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <select class="form-control btn-xs" name="dropHistory" id="dropHistory">
                    <option>--Select--</option>
                </select>
            </li>
            <li><button type="button" id="btnLoadXML" class="btn btn-primary" onclick="checkfileExist(this) ">Load XML</button></li>
            <li>
                <form id="upload" class="form-inline" enctype="multipart/form-data" action="@Url.Action("UploadXMLFile", "ManageXML")" method="POST">
                    <input type="file" class="form-control form-control-xs" id="fileUpload" name="fileUpload" tooltip="Upload XML with exising rules">
                    <button type="button" class="btn btn-primary" id="UploadXML" name="UploadXML" onclick="checkfileUpload(this)" ToolTip="Select XML file to Upload Rules">Upload XML</button>
                </form>
            </li>
            <li><input type="text" id="HistoryText" name="HistoryText" class="form-control" placeholder="Enter File Name" /></li>
            <li>
                <button type="button" id="btnSaveXMLasHistory" name="SaveXMLasHistory" class="btn btn-primary">Save As</button>
            </li>
        </ul>
    </div>
</nav>

<div class="row CenterizedRow">
    <button type="button" class="btn btn-primary btn-xs" id="btnReset" ToolTip="Reload the selected device rules from XML">Reset</button>
    <button type="button" class="btn btn-primary btn-xs" id="btnAddRule">Add Rule</button>
    <button type="button" class="btn btn-primary btn-xs" id="btnCopyRule">Copy Rule</button>
    <button type="button" class="btn btn-primary btn-xs" id="btnRemoveRule">Remove Rule</button>
    <button type="button" class="btn btn-primary btn-xs" id="btnMoveRule">Move</button>
    <button type="button" class="btn btn-primary btn-xs" id="btnSaveRule">Save Rule</button>
    <button type="button" class="btn btn-primary btn-xs" id="btnResetRule">Reset Rule</button>
    <button type="button" class="btn btn-primary btn-xs" id="btnSavetoXML">Save to XML</button>
    <button type="button" class="btn btn-primary btn-xs" id="btnDownloadXML">Download XML</button>
    <button type="button" class="btn btn-primary btn-xs" id="btnPrintPDF">Print as PDF</button>
</div>

<style>
    #Rule_Table th {
        text-align: center;
    }
</style>

<table style="width: 100%;" class="table-bordered table-responsive table-sm" id="Rule_Table">
    <tbody>
        <tr>
            <th>Rule No</th>
            <th>Node</th>
            <th>Value</th>
            <th>Node</th>
            <th>Value</th>
        </tr>
        <tr class="rowA">
            <td style="text-align: center; font-weight: bold; width: 50px;">
                <span id="lblRuleID">1</span>
            </td>
            <td class="style3">Left Direction °</td>
            <td class="style4">
                <input name="txtLeftDirect" type="text" value="" maxlength="20" id="txtLeftDirect" class="numericTextBox" onkeyup="Change(this);" onkeypress="return onlyNumbers(event);">
            </td>
            <td class="style3">Right Direction °</td>
            <td class="style4">
                <input name="txtRightDirect" type="text" value="" maxlength="20" id="txtRightDirect" class="numericTextBox" onkeyup="Change(this);" onkeypress="return onlyNumbers(event);">
            </td>
        </tr>
        <tr class="rowA">
            <td></td>
            <td class="style3">
                Minimum Distance (ft)
            </td>
            <td class="style4">
                <input name="txtMinDis" type="text" value="" maxlength="20" id="txtMinDis" class="numericTextBox" onkeypress="return onlyNumbers(event);" onkeyup="Change(this);">
            </td>
            <td class="style3">
                Maximum Distance (ft)
            </td>
            <td class="style4">
                <input name="txtMaxDis" type="text" value="" maxlength="20" id="txtMaxDis" class="numericTextBox" onkeypress="return onlyNumbers(event);" onkeyup="Change(this);">
            </td>
        </tr>
        <tr class="rowA">
            <td></td>
            <td class="style3">
                Preempt Distance (ft)
            </td>
            <td class="style4">
                <input name="txtPreDis" type="text" value="" maxlength="5" id="txtPreDis" class="numericTextBox" onkeypress="return onlyNumbers(event);" onkeyup="Change(this);">
            </td>
            <td class="style3">Preempt Direction</td>
            <td class="style4">
                <select name="cboDirection" id="cboDirection" class="form-control-xs">
                    <option value="0">Don't Care</option>
                    <option value="1">Towards</option>
                    <option value="2">Away</option>

                </select>
            </td>
        </tr>
        <tr class="rowA">
            <td></td>
            <td class="style3">Preempt ETA</td>
            <td class="style4">
                <input name="txtPreETA" type="text" value="" maxlength="20" id="txtPreETA" class="numericTextBox" onkeyup="Change(this);" onkeypress="return onlyNumbers(event);">
            </td>
            <td class="style3">Maximum Duration</td>
            <td class="style4">
                <input name="txtMaxDuration" type="text" value="" maxlength="20" id="txtMaxDuration" class="numericTextBox" onkeyup="Change(this);" onkeypress="return onlyNumbers(event);">
            </td>
        </tr>
        <tr class="rowA">
            <td></td>
            <td class="style3">
                Clear Distance (ft)
            </td>
            <td class="style4">
                <input name="txtClearDist" type="text" value="" maxlength="20" id="txtClearDist" class="numericTextBox" onkeypress="return onlyNumbers(event);" onkeyup="Change(this);">
            </td>
            <td class="style3">
                ETA Disable Speed (mph)
            </td>
            <td class="style4">
                <input name="txtETADisableSpeed" type="text" value="" maxlength="20" id="txtETADisableSpeed" class="numericTextBox" onkeypress="return onlyNumbers(event);">
            </td>
        </tr>
        <tr class="rowA">
            <td>&nbsp;</td>
            <td class="style3">&nbsp;</td>
            <td class="style4">
                <span><label for="HeadChk">UseVehicleHeading</label><input id="HeadChk" type="checkbox" name="HeadChk" checked="checked"></span>
            </td>
            <td class="style3">
                ETA Disable Speed Min (mph)
            </td>
            <td class="style4">
                <input name="txtETADisableSpeedMin" type="text" value="" maxlength="20" id="txtETADisableSpeedMin" class="numericTextBox" onkeypress="return onlyNumbers(event);" onkeyup="Change(this);">
            </td>
        </tr>
        <tr class="rowA">
            <td></td>
            <td class="style3"></td>

            <td class="style4">
                <span><label for="chkLeftIndicator">Left Indicator</label><input id="chkLeftIndicator" type="checkbox" name="chkLeftIndicator"></span>
            </td>
            <td class="style4">
                <span><label for="chkStraight">Straight</label><input id="chkStraight" type="checkbox" name="chkStraight"></span>
            </td>
            <td class="style4">
                <span><label for="chkRightIndicator">Right Indicator</label><input id="chkRightIndicator" type="checkbox" name="chkRightIndicator"></span>
            </td>
        </tr>
        <tr class="rowA">
            <td></td>
            <td class="style3">Class</td>
            <td class="style4">
                <input name="txtClass" type="text" value="" maxlength="20" id="txtClass" class="alphaTextBox" onkeyup="Change(this);">
            </td>
            <td class="style3">Preempt Number</td>
            <td class="style4">
                <input name="txtPreemptNo" type="text" value="" maxlength="20" id="txtPreemptNo" class="numericTextBox" onkeyup="Change(this);" onkeypress="return onlyNumbers(event);">
            </td>
        </tr>

    </tbody>
</table>
@*<script>
    $('#BtnPlus').on('click', function () {
        $.post(url, data, function (result) {

        })
    });
</script>*@

<input type="hidden" name="CountExtensionRule" id="CountExtensionRule" value="">
<div id="DivMultiVehicles">
    <table class="table table-hover small-text" id="RuleTable">
        <thead>
            <tr>
                <th colspan="5">Rules Extension</th>
                <th colspan="1" class="pull-right">Add Rule Extension</th>
            </tr>
            <tr class="tr-header">
                <th>Ext Class</th>
                <th>Min # Vehicles</th>
                <th>Max # Vehicles</th>
                <th>Protocol</th>
                <th><label id="OutputMargin">Output #</label></th>
                <th><a href="javascript:void(0);" style="font-size:18px;" id="addMore" title="Add Rule Extension"><span class="glyphicon glyphicon-plus"></span></a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="ExtClass[]" onkeyup="ExtClass(this)" class="form-control"></td>
                <td><input type="text" name="MinVehicles[]" onkeyup="MinVehicles(this)" class="form-control"></td>
                <td><input type="text" name="MaxVehicles[]" onkeyup="MaxVehicles(this)" class="form-control"></td>
                <td>
                    <select name="DrpProtocol[]" class="form-control">
                        <option value="0">Output disabled</option>
                        <option value="1">Standard hardware preempt output</option>
                        <option value="2">Priority Pulsed Output</option>
                        <option value="3">Priority NTCIP1211</option>
                        <option value="4">Preempt NTCIP1202</option>
                        <option value="5">EDP (Siemens extended detector protocol)</option>
                        <option value="6">Econolite Detector Protocol</option>
                        <option value="7">Phase Call NTCIP1202</option>
                    </select>
                </td>
                <td><input type="text" name="Output[]" class="form-control"></td>
                <td><a href="javascript:void(0);" class="remove"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    $(function () {
        $('#addMore').on('click', function () {
            debugger
            var data = $("#RuleTable tbody tr:eq(0)").clone(true).appendTo("#RuleTable tbody");
            data.find("input").val('');
        });
        $(document).on('click', '.remove', function () {
            var trIndex = $(this).closest("tbody tr").index();
            if (trIndex > 0) {
                $(this).closest("tr").remove();
            } else {
                alert("Sorry!! Can't remove first row!");
            }
        });
    });
</script>

@*<div id="DivMultiVehicles">*@
@*<div>
        <strong>Rules Extension</strong>
        <input type="submit" name="BtnPlus" value="+" id="BtnPlus" title="Add Rule Extension" style="float: right; height: 18px;">
    </div>*@
@*<table id="RuleTable" class="container-fluid">
        <thead>
        <tr>
        <th colspan="2">
            <label style="color: black;font-size:13px">Ext Class</label><img src="~/Content/images/Information.png" class="tooltip" />
        </th>
        <th colspan="2">
            <label style="color: black;font-size:13px">Min # Vehicles</label>
        </th>
        <td colspan="2">
            <label style="color: black;font-size:13px">Max # Vehicles</label>
        </td>
        <td colspan="2">
            <label style="color: black">Protocol</label>
        </td>
        <td colspan="2">
            <label id="OutputMargin">Output #</label>
            <img src="~/Content/images/Information.png" class="tooltip" />
        </td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" >
                    <input name="ExtClass" type="text" maxlength="255" id="ExtClass_0" onkeyup="ExtClass(this);" value="0">
                </td>
                <td colspan="2" >
                    <input name="MinVehicles" type="text" maxlength="255" id="MinVehicles_0" onkeyup="MinVehicles(this);" value="0">
                </td>
                <td colspan="2" >
                    <input name="MaxVehicles" type="text" maxlength="255" id="MaxVehicles_0" onkeyup="MaxVehicles(this);" value="0">
                </td>
                <td colspan="2" style="width: 20%!important">
                    <select name="DrpProtocol" id="DrpProtocol_0" onchange="DrpProtocol(this)" value="0" style="width: 94%;font-size:13px">
                        <option value="0">Output disabled</option>
                        <option value="1">Standard hardware preempt output</option>
                        <option value="2">Priority Pulsed Output</option>
                        <option value="3">Priority NTCIP1211</option>
                        <option value="4">Preempt NTCIP1202</option>
                        <option value="5">EDP (Siemens extended detector protocol)</option>
                        <option value="6">Econolite Detector Protocol</option>
                        <option value="7">Phase Call NTCIP1202</option>
                    </select>
                </td>
                <td colspan="3" style="width: 30%">
                    <input name="PortocolOutput" type="text" maxlength="255" id="PortocolOutput_0" onkeyup="PortocolOutput(this);" value="" style="width: 0%;display:none">
                    <input name="Output" type="text" maxlength="255" id="Output_0" onkeyup="Output(this);" value="0" style="width: 96%;">
                </td>
                <td colspan="2">
                    <input type="submit" name="BtnMinus" value="-" id="BtnMinus_0">
                </td>
            </tr>
        </tbody>
    </table>*@
@*</div>*@

<style>
    .CenterizedRow {
        text-align: center;
        /*position: absolute;*/
        left: 1%;
        right: 1%;
    }
</style>
<script>
    $('#upload').submit(function (e) {
        e.preventDefault(); // stop the standard form submission

        $.ajax({
            url: this.action,
            type: this.method,
            data: new FormData(this),
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data.UploadedFileCount + ' file(s) uploaded successfully');
            },
            error: function (xhr, error, status) {
                console.log(error, status);
            }
        });
    });


    function checkfileUpload(event) {
        var file = $('input[type="file"]').val();
        if (file == "" || file == undefined) {
            alert('Please select any XML file to load rules');
            event.preventDefault();
            return false;

        } else {
            if (file.endsWith(".xml")) {
                $.post()


            } else {
                alert('Only XML file are allowed. Please select a valid XML file');
                event.preventDefault();
                return false;
            }
        }
    }

    function ResetButtonsToDefault() {

        $('#device_name').text('Device(Rule)');
        $('#min_speed_duration').val('');
        $('#refresh_device').val('');
        $('#min_speed').val('');
        $('#edit_mode').val('');
        $('#city_code').val('');
        $('#fix_latitude').val($('#fix_latitude').attr('data-default'));
        $('#fix_longitude').val($('#fix_longitude').attr('data-default'));
        $('#longitude').val('');
        $('#latitude').val('');
        $('#btnlockIconButton').prop('disabled', true);
        $('#chk_fix_gps').prop('checked', false);

        $('#btnLoadXML').prop('disabled', true);
        $('#btnSaveXMLasHistory').prop('disabled', true);;
        $('#HistoryText').val('');
        $("#dropHistory").empty().append($("<option/>").val('-1').text('--Select--'));

        $('#btnReset').prop('disabled', true);
        $('#btnAddRule').prop('disabled', true);
        $('#btnCopyRule').prop('disabled', true);
        $('#btnRemoveRule').prop('disabled', true);
        $('#btnMoveRule').prop('disabled', true);
        $('#btnSaveRule').prop('disabled', true);
        $('#btnResetRule').prop('disabled', true);
        $('#btnSavetoXML').prop('disabled', true);
        $('#btnDownloadXML').prop('disabled', true);
        $('#btnPrintPDF').prop('disabled', true);
    }

    function checkfileExist() {

    }
</script>
