﻿@using PreemptConfiguration.Common
@using PreemptConfiguration.Models
@model Device
@{
    ViewBag.Title = "Home Page";
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp-b32ZTBbxVZS9cEyLUkCZj7aKBxQhrs&callback=DrawGoogleMap&libraries=geometry,places&v=weekly&j=@DateTime.Now.Ticks" defer></script>
<script src="~/Scripts/GoogleMapPolygon.js?v=@DateTime.Now.Ticks"></script>
<section style="position: relative; overflow: hidden; min-height: 400px" class="border p-4 d-flex justify-content-center mb-4">
    @if (Session["UserId"] != null)
            {
        <div class="col-md-12 mainheadingtop clearfix">
            <div class="col-md-2">
                <div class="form-check form-check-inline center-block pull-left">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                    <label class="form-check-label" for="inlineCheckbox1">Mertric Display</label>
                </div>
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2 ">
                <h5>
                    <b class="pull-right">
                        Configure Priority Preempt Rules
                    </b>
                </h5>
            </div>
        </div>
    }
    <div class="container-fluid" style="width:100% !important">
        <div class="col-md-2">
            <div>
                <div class="input-group rounded">
                    <input type="text" id="myInput" onkeyup="filter_text_search()" placeholder="Search Device..">
                </div>
                <div class="list-group-item d-flex justify-content-between align-items-center" onclick="$('#devicelist_ul li').toggle();">
                    Devices
                    <span class="badge badge-primary badge-pill">@Model.DeviceList.Count</span>
                </div>
                <ul class="list-group" id="devicelist_ul">
                    @foreach (var item in Model.DeviceList)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center ">
                            <span class="devicelist_parent" id="device_item_@item.DeviceID" data-name="@item.DeviceName" data-id="@item.DeviceID"> @item.DeviceName</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div>
                <div id="device_info_div">
                    @Html.Partial("_DeviceInfo")
                </div>
                <div id="GoogleMap_Div_Container">
                    <div id="GoogleMap_Div" style="width:100%; height:400px;">

                    </div>
                </div>
                <div id="directions_canvas">
                </div>

                <div id="rule_info_div">
                    @Html.Partial("_RuleInfo")
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .devicelist_child {
        margin-left: -35px;
    }
</style>

<script>
    $(document).ready(function () {
        disableAllbuttons()   
    });

    function filter_text_search() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("devicelist_ul");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("span")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function disableAllbuttons() {
        
        $('#chk_fix_gps').prop('disabled', true);
        $('#btnLoadXML').prop('disabled', true);
        $('#btnSaveXMLasHistory').prop('disabled', true);;
        $('#HistoryText').val('');
        $("#dropHistory").empty().append($("<option/>").val('-1').text('--Select--'));

        $('#btnReset').prop('disabled', true);
        $('#btnAddRule').prop('disabled', true);
        $('#btnCopyRule').prop('disabled', true);
        $('#btnRemoveRule').prop('disabled', true);
        $('#btnMoveRule').prop('disabled', true);
        $('#btnSaveRule').prop('disabled', true);
        $('#btnResetRule').prop('disabled', true);
        $('#btnSavetoXML').prop('disabled', true);
        $('#btnDownloadXML').prop('disabled', true);
        $('#btnPrintPDF').prop('disabled', true);
    }

    $("#devicelist_ul span.devicelist_parent").on('click', function () {
        debugger
        //localStorage.clear();
        var $this = $(this);
        var deviceid = $(this).attr('data-id');
        $('#ActiveDeviceID').val(deviceid);
        $('#ActiveRuleID').val('0');
        var devicename = $(this).attr('data-name').trim();
        $.get('@Url.Action("FetchDeviceDetailByID","DeviceInfo")', { deviceid: deviceid }, function (obj) {
            result = obj.result;
            // localStorage.setItem('RoleObject', JSON.stringify(obj.googleObject));
            $('#device_info_div').html(obj.DeviceDetail);
            //console.log(result);
            $('#device_child_ul').remove();
            $('#device_name').text(devicename);
            var appended_result = "<ul id='device_child_ul' data-deviceid=" + deviceid + " data-devicename=" + devicename + " style='list-style-type: none'>";
            $.each(result.Rules, function (i, item) {
                appended_result += "<li class='devicelist_child' id=devicelist_child_" + deviceid + '_' + item.RuleID + "' onclick='getinfo(this)' data-ruleid=" + item.RuleID + " ><span><img src='../../Content/rule-icons/" + (i + 1) + "A.png' /></span>Rule " + item.RuleID + "</li>";
            });
            $this.after(appended_result + '</ul>');
            GenerateMarkerPolylineObjects(obj.GoogleMapObject);


            $("#dropHistory").empty().append($("<option/>").val('-1').text('--Select--'));
            $.each(result.RuleHistoryList, function (i, rule) {
                $("#dropHistory").append($("<option/>").text(rule.Name).val(rule.Value));
            });
            $('#btnLoadXML').prop('disabled', false);
            $('#btnSaveXMLasHistory').prop('disabled', false);;
            $('#HistoryText').val('');
            $('#btnReset').prop('disabled', false);
            $('#btnAddRule').prop('disabled', false);
            $('#btnSavetoXML').prop('disabled', false);
            $('#btnDownloadXML').prop('disabled', false);
            $('#btnPrintPDF').prop('disabled', false);
            $('#chk_fix_gps').prop('disabled', false);
        });
    });

    

    function getinfo($this) {
        //localStorage.clear();
        var deviceid = $($this).parent('ul').attr('data-deviceid');
        var ruleid = $($this).attr('data-ruleid');
        $('#ActiveDeviceID').val(deviceid);
        $('#ActiveRuleID').val(ruleid);
        var devicename = $($this).parent('ul').attr('data-devicename') + '(Rule' + ruleid + ')';
        $('#device_name').text(devicename);
        var dynamicContent=($($this).hasClass("add_content") || $($this).hasClass("copy_content"))?true:false;
        $.get('@Url.Action("FetchDeviceDetailByID", "DeviceInfo")', { deviceid: deviceid, ruleid: ruleid, dynamicRule: dynamicContent }, function (obj) {
            $('#device_info_div').html(obj.DeviceDetail);
            GenerateMarkerPolylineObjects(result.GoogleMapObject);
        });
    }


    $('#btnAddRule').click(function () {
        //alert('You are about to add rule');
        var deviceID = $('#ActiveDeviceID').val() || 0;
        var data = {
            deviceID: deviceID,
            txtLeftDirect: $('#txtLeftDirect').val() || "",
            txtRightDirect: $('#txtRightDirect').val() || "",
            txtMinDis: $('#txtMinDis').val() || "",
            txtMaxDis: $('#txtMaxDis').val() || "",
            txtPreDis: $('#txtPreDis').val() || "",
            txtClearDist: $('#txtClearDist').val() || "",
            txtETADisableSpeed: $('#txtETADisableSpeed').val() || "",
            txtETADisableSpeedMin: $('#txtETADisableSpeedMin').val() || "",
            cboDirection: $('#cboDirection option:selected').val() || "",
            txtPreETA: $('#txtPreETA').val() || "",
            chkLeftIndicator: $('#chkLeftIndicator').is(":checked") || false,
            chkRightIndicator: $('#chkRightIndicator').is(":checked") || false,
            txtMaxDuration: $('#txtMaxDuration').val() || "",
            txtClass: $('#txtClass').val() || "",
            txtPreemptNo: $('#txtPreemptNo').val() || "",
            chkStraight: $('#chkStraight').is(":checked") || false,
            HeadChk: $('#HeadChk').is(":checked") || false,
            displayMetric: $('#displayMetric').is(":checked") || false
        }
        //console.log(data)
        debugger
        $.post('@Url.Action("btnAddRuleClick", "DeviceInfo")', data, function (result) {
            debugger
            console.log(result)
            var nextRuleID = result.result.Rules.length;
            GenerateMarkerPolylineObjects(result.GoogleMapObject);
            var appended_result = "<li class='devicelist_child add_content' id='devicelist_child_" + deviceID + '_' + nextRuleID + "' onclick='getinfo(this)' data-ruleid=" + nextRuleID + " ><span><img src='../../Content/rule-icons/" + (nextRuleID) + "A.png' /></span>Rule " + nextRuleID + "</li>";
            $('#device_child_ul').append(appended_result);
            $('#ActiveRuleID').val(nextRuleID);


            $('#btnReset').prop('disabled', false);
            $('#btnAddRule').prop('disabled', true);
            $('#btnCopyRule').prop('disabled', false);
            $('#btnRemoveRule').prop('disabled', false);
            $('#btnMoveRule').prop('disabled', false);
            $('#btnSaveRule').prop('disabled', false);
            $('#btnResetRule').prop('disabled', false);
            $('#btnSavetoXML').prop('disabled', false);
            $('#btnDownloadXML').prop('disabled', false);
            $('#btnPrintPDF').prop('disabled', true);

        });
    });

    $('#btnRemoveRule').click(function () {
        if (confirm('Are you sure to remove this Rule?')) {
            var deviceID = $('#ActiveDeviceID').val() || 0;
            var ruleid = $('#ActiveRuleID').val() || 0;
            debugger
            var li_to_be_deleted = '#devicelist_child_' + deviceID + '_' + ruleid;
            console.log(li_to_be_deleted)
            $(li_to_be_deleted).remove();
            $.post('@Url.Action("btnRemoveRuleClick", "DeviceInfo")', { deviceID: deviceID, ruleid: ruleid }, function (result) {
                debugger
                console.log(result)
                var nextRuleID = result.result.Rules.length;
                GenerateMarkerPolylineObjects(result.GoogleMapObject);
                $(li_to_be_deleted).remove();
            });
        }
    });


    $('#btnCopyRule').click(function () {
        var deviceID = $('#ActiveDeviceID').val() || 0;
        var ruleid = $('#ActiveRuleID').val() || 0;
        $.post('@Url.Action("btnCopyRuleClick", "DeviceInfo")', { deviceID: deviceID, ruleid: ruleid }, function (result) {
            debugger
            console.log(result)
            var nextRuleID = result.result.Rules.length;
            GenerateMarkerPolylineObjects(result.GoogleMapObject);
            var appended_result = "<li class='devicelist_child copy_content'  onclick='getinfo(this)' data-ruleid=" + nextRuleID + " ><span><img src='../../Content/rule-icons/" + (nextRuleID) + "A.png' /></span>Rule " + nextRuleID + "</li>";
            $('#device_child_ul').append(appended_result);

            $('#btnReset').prop('disabled', false);
            $('#btnAddRule').prop('disabled', true);
            $('#btnCopyRule').prop('disabled', true);
            $('#btnRemoveRule').prop('disabled', false);
            $('#btnMoveRule').prop('disabled', false);
            $('#btnSaveRule').prop('disabled', false);
            $('#btnResetRule').prop('disabled', false);
            $('#btnSavetoXML').prop('disabled', false);
            $('#btnDownloadXML').prop('disabled', false);
            $('#btnPrintPDF').prop('disabled', true);
        });
    });

    $('#btnReset').click(function () {
        var deviceID = $('#ActiveDeviceID').val() || 0;
        var ruleid = $('#ActiveRuleID').val() || 0;
        $('#device_item_' + deviceID).trigger('click');
    });

    $('#btnPrintPDF').click(function () {
        if (!confirm('Do you want to print the PDF?')) return false;
        var deviceID = $('#ActiveDeviceID').val() || 0;
       

        $.post('@Url.Action("btnPrintPDFClick", "DeviceInfo")', { deviceID: deviceID }, function (result) {
            debugger
            
        });
    });

    $('#btnPrintXML').click(function () {
        if (!confirm('Do you want to Download the XML?')) return false;
        var deviceID = $('#ActiveDeviceID').val() || 0;
        var deviceName = $('#device_item_' + deviceID).text().trim() || '';
        $.post('@Url.Action("btnPrintXMLClick", "DeviceInfo")', { deviceID: deviceID, deviceName: deviceName }, function (result) {
            debugger

        });
    });
    

    $('#btnlockIconButton').click(function () {
        var deviceID = $('#ActiveDeviceID').val() || 0;
        var ruleid = $('#ActiveRuleID').val() || 0;
        var status = $(this).attr("data-status");
        if (status == '1')//if lock
        {
            $(this).attr("src", "../Content/icons/unlock.png");
            $(this).attr("data-status", '0');
        }
        else
        {
            $(this).attr("src", "../Content/icons/lock.png");
            $(this).attr("data-status", '1');
        }
    });

</script>

<script>
    $(function () {
        $('#search-input').keyup(function () {
            debugger
            var matches = $('#devicelist_ul').find('li:contains(' + $(this).val() + ') ');
            $('li', '#devicelist_ul').not(matches).slideUp();
            matches.slideDown();
        });
    });

</script>


