﻿<div id="loginClass" class="login">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div align="center">
            <span class="errorText" style="color:#f63e3e !important">@ViewBag.ErrorMessage</span>
        </div>
            <div id="login">
                <ul id="login-group">
                    <li id="login-logo">
                        <img src="~/Content/images/ai-logo.png" />
                    </li>
                    <li id="login-line"></li>
                    <li>
                        <div id="login-form">
                            <strong>Login</strong> 
                            <div style="clear: both;">
                                <div class="input errorText">
                                    <div class="inputbg">
                                        <input type="text" id="txtLoginUserName" name="username" required class="textbox" />
                                    </div>
                                </div>
                                <div class="input errorText">
                                    <div class="inputbg">
                                        <input type="password" id="txtLoginPassword" name="password" required class="textbox" />
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary" type="submit">Login</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    }
</div>
