.mainheadingtop {
    text-align: right;
    box-sizing: border-box;
    background: #fff;
    border-bottom: solid 1px #dfdfdf;
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #E6E7E8;
    background-image: url('../images/page-bg.png');
    background-repeat: repeat-x;
}

.userDetails {
    float: left;
    padding-left: 203px;
    padding-top: 11px;
    color: #555555;
}

#buttonClass {
    background: url("../images/btnbg_lt.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 18px;
    padding: 7px 0 7px 8px;
    display: block;
    width: 90px;
    text-decoration: none;
    border-radius: 0px 0px 15px 15px;
}

#labelStyle {
    margin-top: 1%;
    margin-right: -2%;
    font-size: 15px;
}

a {
    color: #27AAE1;
    text-decoration: none;
}

    a:hover {
        color: #FFD740;
        text-decoration: none;
        cursor: pointer;
    }


.clear-float {
    clear: both;
}

#container {
    padding-left: 0px;
    padding-right: 20px !important;
    margin: auto;
    padding-top: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#logo {
    width: 196px;
    height: 122px;
    position: absolute;
    top: -15px;
    left: -16px;
}

.navigation {
    height: 80px;
    background: url(../images/nav-head.png) repeat-x 0 0;
    font-size: 14px;
    position: relative;
    width: 101% !important;
}

#powered {
    float: right;
    width: 251px;
    height: 40px;
    margin-right: 40px;
    margin-top: 12px;
}

#nav-list {
    float: right;
    clear: right;
    margin-right: 40px;
    color: #FFF;
    text-shadow: 1px 1px 0px #000;
}

    #nav-list a {
        color: #FFF;
        text-decoration: none;
    }

        #nav-list a:hover {
            color: #FFD740;
            text-decoration: none;
        }

    #nav-list ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        #nav-list ul li {
            float: left;
            padding-left: 10px;
        }

#main-content {
    background-color: #FFF;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

#forgot {
    float: right;
}
/*#footer {
	height: 37px;
	background-image: url(../images/footer-bg.png);
	background-repeat: no-repeat;
	font-size: 14px;
	color: #888;
	padding-top: 23px;
	padding-left: 40px;
	border-radius: 0px 0px 15px 15px;
}*/

.errorText {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #58595B;
}

.maintext {
    color: #5a90bc;
    border-color: #DDDDDD;
}

.maintextNoBorder {
    color: #5a90bc;
    /* border-color:#DDDDDD;*/
}

.maintextColor {
    font-weight: bold;
    color: #A7A9AC;
}

.maintextstateColor {
    color: #A7A9AC;
}

.buttonform input[type="submit"] {
    background-color: #27AAE1;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 110px;
    padding-left: 0;
    text-align: center;
    width: 100px;
}

.maintextfontsize {
    color: #58595B;
    font-size: 15px;
    font-weight: bold;
}

.fontsizeheader {
    color: #58595B;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}


.button {
    background-color: #27AAE1;
    border: 0 none;
    /*border-radius: 6px 6px 6px 6px;*/
    color: #FFFFFF;
    display: block;
    /*height: 23px;
    margin-top: 10px;*/
    /*padding-left: 25px;*/
    /*padding-top: 10px;*/
    width: 90px;
}

#btntextchange:hover {
    color: #CCCC00;
}

#openbtntextchange:hover {
    color: #CCCC00;
}

.btntextchange:hover {
    color: #CCCC00;
}

.downloadbutton {
    background-color: #27AAE1;
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    display: block;
    height: 23px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
}

.openbutton {
    background-color: #27AAE1;
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    display: block;
    height: 23px;
    width: 70px;
    margin-top: 10px;
    cursor: pointer;
}


.login {
    padding-top: 30px;
}

.top_curv {
    /*background: url(../images/nav-corner.png) no-repeat right top;*/
    background: url('../images/nav-corn.png') no-repeat right top;
}

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.top_round {
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -khtml-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.btm_round {
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -khtml-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    padding: 0px 0px 25px 0px;
}


#login {
    width: 695px;
    height: 260px;
    background-image: url('../images/login-bg.png');
    margin: auto;
    margin-top: 35px;
    background-repeat: no-repeat;
}

#login-group {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 35px;
}

    #login-group li {
        float: left;
    }

#login-logo {
    padding-top: 20px;
    padding-left: 45px;
}

#login-line {
    width: 1px;
    height: 190px;
    background-color: #A7A9AC;
    margin-left: 45px;
    margin-right: 45px;
}

/*#login-form {
    font-size: 20px;
    font-weight: bold;
    color: #58595B;
    margin-top: 10px;
}*/

    /*#login-form input {
        border: 0px;
        width: 100%;
    }*/

#login-text {
    width: 695px;
    margin: auto;
    padding-top: 15px;
    margin-bottom: 35px;
}



#login-form .input input.textbox, input.text-box {
    background: #E6E7E8;
}

#login-text {
    width: 695px;
    margin: auto;
    padding-bottom: 35px;
    padding-top: 15px;
}

#forgot {
    float: right;
}



/*input {
    outline: none;
}*/

#footer { /*height: 37px; background: url(../images/footer-bg.png) repeat-x;*/
    background: #57585b;
    font-size: 14px;
    color: #888;
    border-collapse: collapse;
    float: left;
    width: 100%;
}

.ftr_ltcrv {
    background: url(../images/ftr_ltcrv.gif) no-repeat left bottom;
    float: left;
    width: 100%;
}

.ftr_rtcrv {
    background: url(../images/ftr_rtcrv.gif) no-repeat right bottom;
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.input input {
    border: 0px;
    width: 100%;
}

.input {
    /*background-image: url('../images/textboxbg_rt.png');*/
    /*background: url(../images/textboxbg_rt.png) no-repeat right top;*/
    color: #939598;
    width: 300px;
    height: 36px;
    border: 0px;
    display: block;
    margin-top: 10px;
    padding-right: 9px;
}

    .input .inputbg {
        /*background: url(../images/textboxbg_lt.png) no-repeat left top;*/
        padding: 8px 5px 3px 15px;
        height: 25px;
    }

    .input input.textbox, .input input {
        background: #E6E7E8;
        color: #58595B;
    }


/*.btn {
    background: url(../images/btnbg_rt.png) no-repeat right top;
    padding-right: 8px;
    margin-top: 10px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    float: left;
    display: block;
    cursor: pointer;
    height: 33px;
    margin-left: 5px;
    width: 64px;
    padding-top: 0px;
}*/

/*.btndata {
    background-color: dodgerblue;
    color: white;
    width: 170px;
}*/

/*.btn input, button {
    color: #fff;
    font-size: 14px;
    padding: 7px 0px 7px 8px;
    cursor: pointer;
    background: none;
    height: 32px;
    margin: 0px;
    border: 0px;
}*/

/*.btn a {
    color: #fff;
    font-size: 14px;
    padding: 7px 0px 7px 8px;
    cursor: pointer;
    background: none;
    background: url(../images/btnbg_lt.png) no-repeat;
    height: 18px;
    float: left;
}*/

    /*.btn a input {
        border: 0px;
        padding: 0px;
        background: none;
        height: auto;
    }*/

/*.btn_position {
    padding-left: 110px;
}*/

/*.rt_bdr {
    border-right: 1px solid #ccc;
}

.btm_bdr {
    border-bottom: 1px solid #ccc;
}*/

/*.content_structer {
    background-color: #FFF;
    font-size: 12px;
    line-height: 18px;
    color: #58595b;
    width: 96.1%;
    margin-left: 2.5%;
}*/

    .content_structer table {
        border-collapse: collapse;
    }

.spacing {
    height: 20px;
}

.topline {
    background: #27aae0;
    height: 3px;
    margin-bottom: 20px;
}

span.logo_ftr {
    float: right;
    display: block;
    background: url(../images/ftr_logo.gif) no-repeat;
    width: 42px;
    height: 41px;
    margin-right: 20px;
    margin-top: -11px;
}

span.cpr {
    padding-left: 20px;
}

.ltbtm_fixwh {
    width: 250px;
    height: 100px; /*display:block;*/
}

.lttop_fixw {
}

td {
    text-align: center;
}

.width164 {
    width: 164px;
}

.leftpanel_top {
    overflow: auto;
    height: 483px;
    width: 250px;
    display: block;
}

.rightpanel_top {
    overflow: auto;
    height: 483px;
    display: block;
}

.fixwidth_right {
    width: 670px;
}

.width100 {
    width: 100%;
    *width: auto !important;
}

.padright20 {
    padding-right: 20px;
}

.padleft20 {
    padding-left: 20px;
}

#ajaxDivLeftPanel {
    width: 250px;
    display: block;
}

.textalignright {
    text-align: right;
}

.tdbordercolor {
    border-color: #DDDDDD;
}

.level3_scroll {
    width: 98%;
    overflow: auto;
    /*overflow: auto;*/
}

textarea {
    min-height: 50px;
}

/*.display-field.textarea textarea {
    width: 100%;
}*/

.rightImg {
    background: url(../images/Right.png) no-repeat;
    border: 0;
    height: 20px;
    width: 20px;
    float: left;
    display: block;
}

.wrongImg {
    background: url(../images/Wrong.png) no-repeat;
    border: 0;
    height: 20px;
    width: 20px;
    float: right;
    display: block;
}

.btn_set {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

    /*.btn_set .btn {
        margin-right: 5px;
    }*/

#uploadControl, #ajaxUpdatePanelforScheduleRows {
    word-break: break-all;
}

.slimScrollDiv {
    margin: 10px;
}

.errorcom {
    height: 350px;
    width: 98%;
    margin-bottom: 5px;
    overflow: auto;
}

.playst {
    height: 350px;
    width: 98%;
    margin-bottom: 5px;
    overflow: auto;
}

    .playst td {
        border: 1px solid #ccc;
    }

/*.tdcolor {
    color: #27AAE1;
}*/

.textBoxLength {
    border: 0;
    text-decoration: underline;
    color: #27AAE1;
    width: 120px;
    cursor: pointer;
}

.textBoxLengthTime {
    border: 0;
    text-decoration: underline;
    color: #27AAE1;
    width: 190px;
    cursor: pointer;
}

.divSet {
    background-color: #E6E7E8;
    height: 21px;
}

.trgray {
    background-color: #E6E7E8;
}

.ControlScreenMainText {
    color: #5A90BC;
    border-color: Black;
    font-size: 15px;
}

.ControlScreenText {
    color: #5A90BC;
    font-size: 15px;
}

#DivExpand, #DivArrowDown, #DivArrowUp {
    float: right; /*padding-right:5px;*/
}

#DivArrowDown {
    display: none;
}

.pagination {
    clear: both;
}

.container_Alarm {
    position: relative;
}

.DivAlarmColor {
    width: 10px;
    height: 10px;
    margin-top: 5px;
}

#wrapper {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    width: 100%;
}

    ul.tabs li {
        float: left;
        margin: 0;
        padding: 0;
        height: 31px;
        line-height: 31px;
        border: 1px solid #CCCCCC;
        border-left: none;
        margin-bottom: -1px;
        overflow: hidden;
        position: relative;
        background: #e0e0e0;
    }

        ul.tabs li a {
            text-decoration: none;
            color: #000;
            display: block;
            font-size: 0.9em;
            font-weight: bold;
            padding: 0 20px;
            border: 1px solid #fff;
            outline: none;
        }

            ul.tabs li a:hover {
                background: #ccc;
            }

        ul.tabs li.active, ul.tabs li.active a:hover {
            background: #fff;
            border-bottom: 1px solid #fff;
        }

            ul.tabs li.active a {
                color: #27AAE1;
            }
/**************************Tab Content CSS**************************/
.tab_container {
    border: 1px solid #CCCCCC;
    border-top: none;
    border-bottom: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
}

.tab_content {
    padding: 20px;
    font-size: 1.2em;
}

    .tab_content:after {
        font-size: 0px;
        line-height: 0px;
        height: 0px;
        content: '.';
        visibility: hidden;
        display: block;
        clear: both;
    }

.temp_alignment_div {
    margin-top: 150px;
    margin-left: 320px;
}



/*============= Form ===============*/
.form {
    padding-left: 0;
    float: left;
}

    .form li {
        margin-bottom: 18px;
        width: 100%;
        position: relative;
        display: inline-block;
        color: #696969;
        font-size: 14px;
    }

.upload_img {
    float: right;
    margin-top: 0px;
}

.line {
    border-top: 1px solid #ccc;
    clear: both;
    margin: 14px 0;
    display: inline-block;
    width: 100%;
}

.close_icn {
    position: absolute;
    right: 8px;
    top: 8px;
    opacity: 0.4;
}

    .close_icn:hover {
        opacity: 1;
    }

.close_icnlive {
    position: absolute;
    right: 8px;
    top: 8px;
    opacity: 0.4;
}

    .close_icnlive:hover {
        opacity: 1;
    }

.closescenario_icn {
    position: absolute;
    opacity: 0.4;
}

    .closescenario_icn:hover {
        opacity: 1;
    }

.closescenario_icnlive {
    position: absolute;
    opacity: 0.4;
}

.closescenario_icn:hover {
    opacity: 1;
}
/*.form .inputbg .textbox { padding:8px 6px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px;}*/
.mrgn0 {
    margin-top: 0 !important;
}

.pad0 {
    padding-top: 0 !important;
}

.page_wrap {
    clear: both;
    padding-top: 16px;
}

.scenerio_l {
    width: 100%;
    color: #27AAE1;
    border: 1px solid #CACACA;
}

.scenerio_r {
    width: 100%;
    border: 1px solid #cacaca;
    color: #27AAE1;
}

.brdr_list {
    border: 1px solid #cacaca;
    padding: 10px;
    font-size: 12px;
}

.activate_btn {
    clear: both;
}

    .activate_btn .inputbtn {
        margin: 10px 0;
        background: #27aae2;
        padding: 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        color: #FFF;
        font-weight: bold;
        border: 0;
        cursor: pointer;
    }


/*.table th {
    text-align: left;
    background: #666;
    font-size: 12px;
    padding: 6px 10px;
    color: #FFF;
}

.table td {
    padding: 6px 10px;
    font-size: 12px;
}

.even {
    background: #eeeeee;
}

.odd {
    background: #FFF;
}*/

.page_bg {
    background: #f7f7f7;
    float: left;
    width: 100%;
    padding: 8px 0;
    position: relative;
    clear: both;
    margin-bottom: 16px;
}

.page_left {
    float: left;
    width: 100%;
    margin-right: 10px;
}

.page_right {
    float: right; /*position:relative;*/
    width: 100%;
}

    .page_right img {
        width: 100%;
    }

.message {
    background: #fff;
    border: 1px solid #E6E7E8;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 16px;
    border-collapse: inherit !important;
}

#floatDiv {
    position: absolute;
    left: 50%;
    margin-top: 0px;
    margin-left: -360px;
    width: 200px;
    height: 200px;
    background-color: red;
}

.Page {
    clear: both;
    width: 100%;
    float: left;
    margin-bottom: 14px;
}

.message td {
    padding: 10px;
}

.tab_container fieldset {
    border: 0 !important;
}
/*==== 4-6-2013 =====*/
.add {
    background: #f4f4f4;
    width: 100%;
    padding: 4px 0;
    display: block;
    text-align: center;
    font-size: 14px;
}

.addDisable {
    background: #f4f4f4;
    width: 100%;
    padding: 4px 0;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #A7A9AC;
}

.add:hover {
    color: #333;
    background: #EEEEEE;
}

.add img {
    vertical-align: middle;
    width: 16px;
    margin-right: 5px;
}

.td_spacer {
}

a.close {
    padding: 2px;
    float: left;
    height: 21px;
}

    a.close img {
        display: inline-block;
    }

.page_pad {
    padding: 20px;
    display: inline-block;
}

/*.BlankWhiteColumn {
    background-color: White;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}*/



/*#divParkingMain {
    float: left;
    width: 100%;
}

#divBackToMap {
    float: right;
    margin-bottom: 10px;
}

    #divBackToMap #backtotab {
        float: left;
        margin-right: 5px;
    }

        #divBackToMap #backtotab img {
            float: left;
            margin-right: 5px;
        }


    #divBackToMap #moreDetailLink {
        float: right;
        margin-left: 5px;
    }

        #divBackToMap #moreDetailLink img {
            float: right;
            margin-left: 5px;
        }*/

/*.width80 {
    width: 80%;
}

.width98 {
    width: 98% !important;
}

.width70px {
    width: 70px !important;
}

.width40 {
    width: 40%;
}*/

/*.borderGray {
    border: 1px solid #DDDDDD;
}

.borderTRWhite {
    border-top: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
    background-color: White;
}

.borderBRWhite {
    border-bottom: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
    background-color: White;
}

.borderTLRWhite {
    border-top: 1px solid #ffffff !important;
    border-left: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
    background-color: White;
}*/

/*.txtLeft {
    text-align: left;
}

.txtRight {
    text-align: right;
}

.txtCenter {
    text-align: center;
}*/

.header {
    text-align: center;
    font-weight: bold;
    color: #A7A9AC;
}

/*.shrinkToFit {
    width: 90% !important;
}*/



/*.rightpanel_top {
    overflow-x: hidden !important;
}*/

/*#tblDigitalInput tbody tr td {
    border: 1px solid #DDDDDD;
}

#tblDigitalInput thead tr th {
    color: #A7A9AC;
    font-weight: bold;
    border: 1px solid #DDDDDD;
}

#tblBeaconInput thead tr th {
    color: #A7A9AC;
    font-weight: bold;
    border: 1px solid #DDDDDD;
}

#tblAnalogInput thead tr td {
    color: #A7A9AC;
    font-weight: bold;
    border: 1px solid #DDDDDD;
}

#tblAnalogInput tbody tr td {
    border: 1px solid #DDDDDD;
}*/
/*#region Playback */

#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

    #tabs li {
        float: left;
        margin: 0 -15px 0 0;
    }

    #tabs a {
        float: left;
        position: relative;
        padding: 0 40px;
        height: 0;
        line-height: 30px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        border-right: 30px solid transparent;
        border-bottom: 30px solid #3D3D3D;
        border-bottom-color: #777\9;
        opacity: .3;
        filter: alpha(opacity=30);
    }

        #tabs a:hover, #tabs a:focus {
            border-bottom-color: #2ac7e1;
            opacity: 1;
            filter: alpha(opacity=100);
        }

        #tabs a:focus {
            outline: 0;
        }

    #tabs #current {
        z-index: 3;
        border-bottom-color: #3d3d3d;
        opacity: 1;
        filter: alpha(opacity=100);
    }

/* ----------- */
#content {
    background: #fff;
    border-top: 2px solid #3d3d3d;
    padding: 2em; /*height: 220px;*/
}

    #content h2, #content h3, #content p {
        margin: 0 0 15px 0;
    }

/* Demo page only */
#about {
    color: #999;
    text-align: center;
    font: 0.9em Arial, Helvetica;
}

    #about a {
        color: #777;
    }


#ZOneTabs {
    border-left: 1px solid #9f9bb5;
}

#loading-image {
    background: none repeat scroll 0 0 #000;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    z-index: 99999;
}

.ajax-loader {
    display: block;
    left: 48%;
    position: absolute;
    top: 45%;
}

#loading-image1 {
    background-color: #333;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*.buttonText {
    font-weight: bolder;
    font-size: 13px;
    color: #128cb8;
}*/

.onlinestatus i {
    float: right;
    margin: 0 10px;
    font-style: normal;
    width: 28px;
}

    .onlinestatus i:nth-child(2n+2) {
        margin: 0;
        width: 62px;
    }

span.dynatree-expanded a {
    max-width: 160px;
}
/*#endregion */

#loadingOnpage-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 125px; /*background: #D8D8D8;*/ /* background: #6E6E6E;*/
    background: #000000;
    opacity: .8;
    z-index: 81;
}

#loadingOnpage {
    position: absolute;
    top: -15%;
    left: -22%;
    z-index: 84;
}

    #loadingOnpage span {
        /*background: url('ajax-loader.gif') no-repeat left center;*/
        background: url('globe.gif') no-repeat left center;
        color: #BDBDBD;
        width: 60%;
        height: 30%;
        padding: 60px 70px;
        display: block;
    }

.Overlay {
    position: absolute;
    right: 0px;
    clear: right;
    margin-bottom: 20px;
    /*width: 250px;*/
    bottom: 0px;
}

.modalBackground {
    height: 50px;
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 10000;
}

#imgTrail:hover {
    cursor: pointer;
}

#imgSetting:hover, #imgArrow:hover {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    background-color: rgb(127, 127, 127);
    border-width: 0;
    display: block;
    padding: .4em 1.4em;
}

#dvStatistics a, #DivAlarmSummary a {
    color: #00427a;
    text-decoration: none;
}

    #dvStatistics a:hover, #DivAlarmSummary a:hover {
        color: #00427a;
        cursor: pointer;
        text-decoration: underline;
    }

.flt {
    float: left;
}

.width40.flt .input {
    margin: 0px !important;
}

.width40.flt label {
    clear: both;
    display: inline-block;
    font-size: 13px;
    margin: 15px 0 5px !important;
    padding: 0 0 0 5px;
}

.width40.flt select {
    background: #e6e7e8;
    border: none;
    color: #58595b;
    display: block;
    height: 36px;
    margin-top: 0px;
    padding: 9px;
    border-radius: 6px 0 0 6px;
    width: 300px;
}

.table_pading tr td {
    padding: 10px;
}

.m_top20 {
    margin-top: 20px;
}

.clearbox {
    width: 100%;
    float: left;
    clear: both;
}

.font_size15 {
    font-size: 15px;
}

.table_pading tr td label {
    display: inline-block;
    font-size: 13px;
    padding: 0 0 0 5px;
}

.clearfix {
    clear: both;
}

span.fontsizeheader {
    margin-bottom: 10px;
    display: inline-block;
}

.ui-jqgrid-htable th.dt-center, td.dt-center {
    text-align: center !important;
}

@media (min-width: 1200px) {
    .container {
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    .col-md-12 {
        width: 100% !important;
    }

    .container {
        width: 100% !important;
    }

    .content_structer {
        width: 87.5% !important;
    }

    @media (min-width: 1200px) {
        .container {
            width: 100% !important;
        }

        .content_structer {
            width: 95% !important;
        }
    }


    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
    }

    #loaderContract {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
    }

    #loginClass {
        padding-top: 26px !important;
        padding-left: 6px;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /* Add animation to "page content" */
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s;
    }

    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0;
        }

        to {
            bottom: 0px;
            opacity: 1;
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0;
        }

        to {
            bottom: 0;
            opacity: 1;
        }
    }

    /*@media (max-width: 1400px) {
        td {
            font-size: 12px;
        }

        th {
            font-size: 12px;
        }
    }*/
    @media (max-width: 300px) {
        html {
            font-size: 70%;
        }
    }

    @media (min-width: 500px) {
        html {
            font-size: 80%;
        }
    }

    @media (min-width: 700px) {
        html {
            font-size: 120%;
        }
    }

    @media (min-width: 1200px) {
        html {
            font-size: 200%;
        }
    }
}
/*=============*/
.tooltip {
            display: inline-block;
        }

        /* Tooltip text */
        .tooltip-inner {
            width: 130px !important;
            padding: 3px 8px;
            color: #fff;
            text-align: left !important;
            background-color: rgb(38, 168, 221) !important;
            border-radius: 4px;
            font-size: 11px !important;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }